.container-chango {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    border: 10px solid $color-general2;
    margin: 50px auto;
    background-color: bisque;
    border-radius: 15px;
}

.prod-chango {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    border-top: 2px solid black;
}

.cantidad {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}

.mostrar-advertencia {
    display: none !important;
}

.img-box {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 5px solid $color-general1;
    box-shadow: $sombra-cajas;
}

.name-box {
    font-size: 1.2rem;
    width: 60px;
}

.cantidad[type=number] {
    width: 50px;
    appearance: textfield;
}

.titulos {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    
}

.titulos h3 {
    margin: 0;
    font-size: 1.3rem;
}

.cart-title {
    @include titulos;
    font-size: 24px;
    line-height: 3;

}

.delete {
    background-color: unset;
    border: unset;
    font-size: 25px;
    text-shadow: 1px 1px 6px black;
}

#chango-vacio {
    text-align: center;
    padding: 20px 0;
}

.precio {
    font-size: 20px;
}

.suma-total {
    text-align: right;
    padding-right: 50px;
}

.compra {
    @include botones;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

#totales {
    display: flex;
    flex-direction: column;
}

.alerta-compra {
    padding: 80px;
    margin: 40px;
    text-align: center;
}

.alert-success{
    display: flex;
    flex-direction: column;
    margin: 15px;
    text-align: center;
    font-size: 20px;
    height: 200px;
    justify-content: center;    
}