footer {
    background-color: $color-general2;
    text-align: center;

    div .col {
        margin: 20px 0;
    }

    p {
        color: $color-general3;
        font-size: 17px;
    }
}

.logoFooter {
    background-image: url(img/logoFooter.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
}

footer div a {
    color: $color-general3;
    transition: color 0.5s;

    &:hover {
        color: #fff;
    }
}

.links {
    font-size: 40px;
}