.imagen-carta {
    height: 200px;
    background-color: green;
    object-fit: fill;
}

.img-chango{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.alert-danger{
    width: 100%;
    text-align: center;
}


.card{
    box-shadow: $sombra-cajas;
    background-color: #ffffff80;
    margin: 10px;
}

.btn-producto {
    @include botones;
}

.titulo-productos{
    @include titulos;
}

.card-header{
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;

}

.text-title{
    font-family: $font3;
    margin: 0;
}

.card-text{
    font-family: $font4;
    font-weight: 300;
}

.buscador{
    width: 400px;
    height: 40px;
    border: $color-general2 solid 3px;
    border-radius: 10px;
    padding: 0 13px 0 13px;
}

:focus{
    box-shadow: 0px 0px 15px 4px;
    border-color: $color-general3;
}
::placeholder{
    text-align: center;
}

.container-buscador{
    display: flex;
    justify-content: center;
}

.contador-not{
    font-size: 1.1rem;
    font-weight: 700;
    color: $color-general2;
    background-color: #cfcfcf;
    padding: 0px 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 16px;
    right: 10px;
}

.oculto{
    display: none;
}
